<h2 class="text-success text-center">Create new article</h2>
<div class="container">
	<%= render 'articles/errors' %>
	<%= render 'articles/form' %>
	
	<%= link_to 'Back to article page', articles_path %>
</div>